@import url(https://fonts.googleapis.com/css?family=Montserrat);
#startButton {
    left: 85%;
    top: 45%;
    position: absolute;
}

#resetButton {
    left: 85%;
    top: 60%;
    position: absolute;
}

#homeButton {
    left: 7%;
    top: 45%;
    position: absolute;
}

#homeButton_popup {
    left: 20%;
    top: 70%;
    position: absolute;
}

#oneMoreButton_popup {
    left: 60%;
    top: 70%;
    position: absolute;
}

.button {
    display: inline-block;
    padding: 15px;
    margin-right: 5px;
    height: 50px;
    min-width: 100px;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
    border-radius: 3px;
}

.button:hover {
    transition: all 0.1s ease-in;
}

.button:active {
    transform: translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
}

#home {
    background: #24d368;
    box-shadow: 0 5px 0px #24d368;
    border-bottom: 2px solid #1fc660;
}

#home:hover {
    background: #22c461;
    box-shadow: 0 4px 1px #22c461;
    border-bottom: 2px solid #1fba5b;
}

#oneMore {
    background: #348AA7;
    box-shadow: 0 5px 0px #348aa7;
    border-bottom: 2px solid #30809b;
}

#oneMore:hover {
    background: #2e7a94;
    box-shadow: 0 4px 1px #2e7a94;
    border-bottom: 2px solid #2a7088;
}

#start {
    background: #348AA7;
    box-shadow: 0 5px 0px #348aa7;
    border-bottom: 2px solid #30809b;
}

#start:hover {
    background: #2e7a94;
    box-shadow: 0 4px 1px #2e7a94;
    border-bottom: 2px solid #2a7088;
}

#reset {
    background: #d42b2b;
    box-shadow: 0 5px 0px #d42b2b;
    border-bottom: 2px solid #c62424;
}

#reset:hover {
    background: #c12323;
    box-shadow: 0 4px 1px #c12323;
    border-bottom: 2px solid #ac2d2d;
}
