.splitting .char {
  animation: slide-in .7s cubic-bezier(.3, 0, .7, 1) both;
  animation-delay: calc(50ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: scale(0.4) translateY(80%);
    opacity: 0;
  }
}

#theme_title {
    font-size: 10%;
}

#themeImg_title {
    width: 1.5%;
    position: relative;
    top: 3px;
}