a { color: #FFF;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #1e70ac;
    border-radius: 10px;
    border: white 5px ridge;
    width: 30%;
    height: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    color: white;
}

.popup .popup_title {
    margin-top: 0;
    font-family: Tahoma, Arial, sans-serif;
    font-weight: bold;
    font-size: 3em;
}

.popup table {
    width: 100%;
}

.popup .ins {
    height: 100%;
    padding-top: 40px;
    padding-left: 20px;
    font-size: 25px;
}

.popup .dev {
    height: 100%;
    padding-top: 80px;
    font-size: 25px;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.popup .close:hover {
    color: #B22222;
}

.popup .content {
    height: 100%;
}

.content .dev_icon {
    width: 30px;
    position: relative;
    bottom: -5px;
}

.content .theme_img {
    width: 8%;
    position: relative;
    top: 32px;
}
